node_modules

# Test output files (generated .env files, not templates)
test/**/.env.*
!test/**/.env.*.template
!test/*/env/functions/*

# Use this block in a backend project
# microservices/service-*/functions/.env.*
# !microservices/service-*/functions/.env.*.template
# functions/.env.*
# !functions/.env.*.template
