node_modules

# Test output files (generated .env files, not templates)
impl/**/.env.*
!impl/**/.env.*.template
!impl/*/env/functions/*

# Use this block in a backend project
# microservices/service-*/functions/.env.*
# !microservices/service-*/functions/.env.*.template
# functions/.env.*
# !functions/.env.*.template
